<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MockAPI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid text-center">
      <div class="jumbotron">
        <h1>MockAPI</h1>
        <ul class="list-group">
            <li class="list-group-item">
              <a href="campaigns">Campaigns</a>
            </li>
            <li class="list-group-item">
              <a href="ad_groups">Ad Groups</a>
            </li>
            <li class="list-group-item">
              <a href="expanded_text_ads">Expanded Text Ads</a>
            </li>
        </ul>
      </div>
    </div>
  </body>
</html>